@model Pet

@{
    ViewData["Title"] = "Editar Pet";
}

<h1>Editar Pet</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="Editar">
    <partial name="_Form"/>
    <botao texto="Editar"></botao>
    <a asp-action="Index" class="btn btn-dark">Lista de Pets</a>
</form>