@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Este website refere-se apenas a uma implementação básica de web usando ASP.NET MVC.
    Todas as normas e regulamentos da FIAP devem ser observados dentro da Política
    de Privacidade.</p>